<div [formGroup]="formGroup">
  <mat-card class="parent-card" id="defense">
    <mat-card-header>
      <div mat-card-avatar>
          <mat-icon class="avatar-icon">shield</mat-icon>
      </div>
      <mat-card-title>Defense</mat-card-title>
      <mat-card-subtitle>It's just a flesh wound...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <!-- HP - current -->
      <mat-form-field appearance="fill">
        <mat-label>Current HP</mat-label>
        <input matInput placeholder="Current HP" type="number"  formControlName="currentHp">
      </mat-form-field>

      <!-- HP - max -->
      <mat-form-field appearance="fill">
        <mat-label>Total HP</mat-label>
        <input matInput placeholder="Total HP" type="number"  formControlName="totalHp">
      </mat-form-field>

      <br>

      <div formGroupName="saves">

        <!-- Charisma Save -->
          <div formGroupName="charisma" class="saves">
            <mat-checkbox formControlName="proficient">Charisma</mat-checkbox>
            <mat-form-field appearance="fill">
              <mat-label>Charisma</mat-label>
              <input matInput disabled type="number" value="{{characterService.chaMod | async}}">
            </mat-form-field>
          </div>
      </div>

      <br>

      <!-- AC -->
      <mat-form-field appearance="fill">
        <mat-label>AC</mat-label>
        <input matInput placeholder="AC" type="number" disabled value="{{ characterService.AC | async }}">
      </mat-form-field>

      <span>= 10 + </span>

      <!-- Dex Mod -->
      <mat-form-field appearance="fill">
        <mat-label>Dexterity Modifier</mat-label>
        <input matInput type="number" disabled value="{{characterService.dexMod | async}}">
      </mat-form-field>

      <!-- Armor Mod-->
      <mat-form-field appearance="fill">
        <mat-label>Armor Mod</mat-label>
        <input matInput placeholder="Armor Mod" type="number" disabled value="{{ characterService.armorMod | async }}">
      </mat-form-field>

      <!-- Armor Mod-->
      <mat-form-field appearance="fill">
        <mat-label>Size Mod</mat-label>
        <input matInput placeholder="Size Mod" type="number" disabled value="{{ characterService.sizeMod | async }}">
      </mat-form-field>

      <!-- Other AC Mods -->
      <mat-form-field appearance="fill">
        <mat-label>Other AC Mod</mat-label>
        <input matInput type="number" placeholder="Temp AC mod" formControlName="tempACMod">
      </mat-form-field>

    </mat-card-content>
  </mat-card>
</div>
