<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>OSRS D&D Sheets</span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <div *ngIf="auth.user | async as user; else showLogin">
      <app-character-list [sidenav]="sidenav"></app-character-list>
      <button mat-raised-button color="primary" (click)="logout()" class="logout">Logout</button>
    </div>
    <ng-template #showLogin><p>You must be logged in to see characters.</p></ng-template>
  </mat-drawer>

  <div>
    <div class="container">
      <img src="https://www.runescape.com/img/rsp777/hiscores/scroll_top.gif" style="width:80%">
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
      <img src="https://www.runescape.com/img/rsp777/hiscores/scroll_bottom.gif" style="width:80%">
    </div>
  </div>

</mat-drawer-container>
