<mat-toolbar color="primary">
  <button mat-icon-button (click)="scroll('#general')">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button (click)="scroll('#abilities')">
    <mat-icon>psychology</mat-icon>
  </button>
  <button mat-icon-button (click)="scroll('#saves')">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button (click)="scroll('#defense')">
    <mat-icon>shield</mat-icon>
  </button>
  <button mat-icon-button (click)="scroll('#skills')">
    <mat-icon>construction</mat-icon>
  </button>
  <button mat-icon-button (click)="scroll('#spells')">
    <mat-icon>offline_bolt</mat-icon>
  </button>
  <button mat-icon-button (click)="scroll('#notes')">
    <mat-icon>edit</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openDialog()">
    <mat-icon>delete_forever</mat-icon>
  </button>
</mat-toolbar>
