<mat-toolbar color="primary">
  <button mat-icon-button (click)="scroll('#general')">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button (click)="scroll('#abilities')">
    <mat-icon>psychology</mat-icon>
  </button>
  <button mat-icon-button (click)="scroll('#defense')">
    <mat-icon>shield</mat-icon>
  </button>
  <button mat-icon-button (click)="scroll('#spells')">
    <mat-icon>offline_bolt</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openDialog()">
    <mat-icon>delete_forever</mat-icon>
  </button>
  <!-- <button mat-icon-button>
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>print</mat-icon>
  </button>
  <button mat-icon-button (click)="printCharacter()">
    <mat-icon>download</mat-icon>
  </button>-->
</mat-toolbar>
