.mat-list {
  height: calc(100vh - 211px);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}

.mat-list::-webkit-scrollbar {
  display: none;
}

.header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mdc-list-item--selected .mdc-list-item__primary-text, .mdc-list-item--activated .mdc-list-item__primary-text {
  color: black;
}
