<div class="header-text">
  <div mat-subheader tabindex="1">Characters:</div>
  <div>
    <button mat-icon-button (click)="addCharacter()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>
<div class="mat-list">
  <mat-selection-list #chars [multiple]="false">
    <mat-list-option
      *ngFor="let char of characters"
      [value]="char"
      (click)="loadCharacter(char)"
      [disableRipple]="true"
    >
      {{ char.characterName }}
    </mat-list-option>
  </mat-selection-list>
</div>
