.parent-card {
  max-width: 1000px;
  width: 90%;
  margin: 10px auto;
}

mat-form-field {
  padding: 5px 5px 5px 5px;
  width: 190px;
}

.avatar-icon {
  font-size: 40px;
}

.mat-icon {
  height: auto;
  width: auto;
}

mat-card-title {
  text-align: left;
}
