.parent-card {
  max-width: 1000px;
  width: 90%;
  margin: 10px auto;
}

mat-form-field {
  padding: 5px 5px 5px 5px;
  width: 190px;
}

.avatar-icon {
  font-size: 40px;
}

.mat-icon {
  height: auto;
  width: auto;
}

mat-card-title {
  text-align: left;
}

.skill {
  text-align: left;
}

.mat-mdc-card {
  background-color: transparent;
  box-shadow: none;
}

::ng-deep .mdc-text-field {
  background: transparent !important;
}

::ng-deep .mdc-menu-surface {
  background: url('../../assets/scroll-bg.png') !important;
}

.full-width {
  width: 100%;
}
