<div [formGroup]="formGroup">
  <div formGroupName="abilities">
    <mat-card class="parent-card" id="abilities">
      <mat-card-header>
        <div mat-card-avatar>
            <mat-icon class="avatar-icon">psychology</mat-icon>
        </div>
        <mat-card-title>Abilities</mat-card-title>
        <mat-card-subtitle>Charisma is a dumb stat...</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      <!-- Strength -->
      <mat-form-field appearance="fill">
        <mat-label>Strength Score</mat-label>
        <input matInput placeholder="Strength Score" formControlName="strAbilityScore" type="number">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Strength Modifier</mat-label>
        <input matInput type="number" disabled value="{{characterService.strMod | async}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Temp Strength Score</mat-label>
        <input matInput type="number" placeholder="Temp Strength Score" formControlName="tempStrScore">
      </mat-form-field>
    <br>
      <!-- Dexterity -->
      <mat-form-field appearance="fill">
        <mat-label>Dexterity Score</mat-label>
        <input matInput placeholder="Dexterity Score" formControlName="dexAbilityScore" type="number">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Dexterity Modifier</mat-label>
        <input matInput type="number" disabled value="{{characterService.dexMod | async}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Temp Dexterity Score</mat-label>
        <input matInput type="number" placeholder="Temp Dexterity Score" formControlName="tempDexScore">
      </mat-form-field>
    <br>
      <!-- Constitution -->
      <mat-form-field appearance="fill">
        <mat-label>Constitution Score</mat-label>
        <input matInput placeholder="Constitution Score" formControlName="conAbilityScore" type="number">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Constitution Modifier</mat-label>
        <input matInput type="number" disabled value="{{characterService.conMod | async}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Temp Constitution Score</mat-label>
        <input matInput type="number" placeholder="Temp Constitution Score" formControlName="tempConScore">
      </mat-form-field>
    <br>
      <!-- Intelligence -->
      <mat-form-field appearance="fill">
        <mat-label>Intelligence Score</mat-label>
        <input matInput placeholder="Intelligence Score" formControlName="intAbilityScore" type="number">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Intelligence Modifier</mat-label>
        <input matInput type="number" disabled value="{{characterService.intMod | async}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Temp Intelligence Score</mat-label>
        <input matInput type="number" placeholder="Temp Intelligence Score" formControlName="tempIntScore">
      </mat-form-field>
    <br>
      <!-- Wisdom -->
      <mat-form-field appearance="fill">
        <mat-label>Wisdom Score</mat-label>
        <input matInput placeholder="Wisdom Score" formControlName="wisAbilityScore" type="number">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Wisdom Modifier</mat-label>
        <input matInput type="number" disabled value="{{characterService.wisMod | async}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Temp Wisdom Score</mat-label>
        <input matInput type="number" placeholder="Temp Wisdom Score" formControlName="tempWisScore">
      </mat-form-field>
    <br>
      <!-- Charisma -->
      <mat-form-field appearance="fill">
        <mat-label>Charisma Score</mat-label>
        <input matInput placeholder="Charisma Score" formControlName="chaAbilityScore" type="number">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Charisma Modifier</mat-label>
        <input matInput type="number" disabled value="{{characterService.chaMod | async}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Temp Charisma Score</mat-label>
        <input matInput type="number" placeholder="Temp Charisma Score" formControlName="tempChaScore">
      </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</div>
