<div [formGroup]="formGroup" id="general">
  <mat-card class="parent-card">
    <mat-card-header>
      <div mat-card-avatar>
          <mat-icon class="avatar-icon">account_circle</mat-icon>
      </div>
      <mat-card-title>General</mat-card-title>
      <mat-card-subtitle>Character Information</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <!-- Char Name -->
      <mat-form-field appearance="fill">
        <mat-label>Character Name</mat-label>
        <input matInput placeholder="Character Name" formControlName="characterName">
      </mat-form-field>

      <!-- Level -->
      <mat-form-field appearance="fill">
        <mat-label>Character Level</mat-label>
        <input matInput placeholder="Character Level" formControlName="level" type="number" min="1" max="20">
      </mat-form-field>

      <!-- Diety -->
      <mat-form-field appearance="fill">
        <mat-label>Diety</mat-label>
        <input matInput placeholder="Diety" formControlName="diety">
      </mat-form-field>

      <!-- Homeland -->
      <mat-form-field appearance="fill">
        <mat-label>Homeland</mat-label>
        <input matInput placeholder="Homeland" formControlName="homeland">
      </mat-form-field>

      <!-- Race -->
      <mat-form-field appearance="fill">
        <mat-label>Race</mat-label>
        <input matInput placeholder="Race" formControlName="race">
      </mat-form-field>

      <!-- Size -->
      <mat-form-field appearance="fill">
        <mat-label>Size</mat-label>
        <mat-select formControlName="size" [compareWith]="compareSize">
          <mat-option [value]="size" *ngFor="let size of characterSizes">{{ size.creatureSize }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Gender -->
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <input matInput placeholder="Gender" formControlName="gender">
      </mat-form-field>

      <!-- Age -->
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Age" formControlName="age" type="number" min="0">
      </mat-form-field>

      <!-- Height -->
      <mat-form-field appearance="fill">
        <mat-label>Height</mat-label>
        <input matInput placeholder="Height" formControlName="height">
      </mat-form-field>

      <!-- Weight -->
      <mat-form-field appearance="fill">
        <mat-label>Weight</mat-label>
        <input matInput placeholder="Weight" formControlName="weight">
      </mat-form-field>

      <!-- Hair -->
      <mat-form-field appearance="fill">
        <mat-label>Hair</mat-label>
        <input matInput placeholder="Hair" formControlName="hair">
      </mat-form-field>

      <!-- Eyes -->
      <mat-form-field appearance="fill">
        <mat-label>Eyes</mat-label>
        <input matInput placeholder="Eyes" formControlName="eyes">
      </mat-form-field>

    </mat-card-content>
  </mat-card>
</div>
