<div [formGroup]="formGroup">
  <mat-card class="parent-card" id="notes">
    <mat-card-header>
      <div mat-card-avatar>
          <mat-icon class="avatar-icon">edit</mat-icon>
      </div>
      <mat-card-title>Notes</mat-card-title>
      <mat-card-subtitle>And other sotes...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <!-- Notes -->
      <mat-form-field class="full-width">
        <mat-label>Notes</mat-label>
        <textarea matInput placeholder="Write stuff here" formControlName="notes"></textarea>
      </mat-form-field>

    </mat-card-content>
  </mat-card>
</div>
